@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #1A0B2E;
}
.logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.logo-span {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Button style  */
.nav-btn,
.listen-btn {
  color: white;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 625rem;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  white-space: nowrap;
}
.sub-btn {
  color: #00ff88;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 625rem;
  background-color: none;
  border: solid 1px #00ff88;
}

/* Header Style  */
/* Navbar Style  */
.navbar {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.navbar .hamburger-icon {
  display: none;
}
/* Banner Section Style  */
.banner-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 8rem 0;
  position: relative;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-image {
  width: 100%;
  height: 50vh;
}
.banner-mic-container {
  position: absolute;
  max-width: 22rem;
  max-height: 22rem;
  border-radius: 50%;
  background-image: url("./assets/hero-circle.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
}
.new-badge {
  position: absolute;
  top: 2rem;
  left: 79%;
  background-color: #00ff88;
  color: black;
  padding: 0.3rem 0.8rem;
  border-radius: 625rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.banner-mic-image {
  width: 12.5rem;
  height: 12.5rem;
  margin: 4.5rem 4.6rem 4.5rem 4.6rem;
}
.banner-content {
text-align: center;
padding-top: .5rem;
margin: 2rem 0;
}
/* Podcast section style  */
.podcast-section {
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 4rem;
  margin: 3rem 12.5rem 5rem 12.5rem;
}
.podcast-heading{
  margin-bottom: 1rem;
}
.podcast-lower{
  display:flex;
  align-items: center;
  justify-content: space-between;
  
}
.podcast-card-heading{
  color:#00ff88;
  font-size: 3rem;
  font-weight: bold;
}

.podcast-card-para{
  text-transform: uppercase;
}
.podcast-section>hr{
  margin: 4rem 0;
}


/* Responsive Style  */
@media screen and (max-width: 576px) {
  /* Navbar style */
  .navbar ul,
  .nav-btn {
    display: none;
  }
  .navbar .hamburger-icon {
    display: block;
    cursor: pointer;
  }
  /* Banner section style  */

  .banner-section {

    background-size: 100% 100vh;
    background-position: top center;

  }
  .banner-mic-container {
    position: absolute;
    max-width: 12.5rem;
    max-height: 12.5rem;
    border-radius: 50%;
    top: 25%;
    left: 50%;
  }
  .banner-mic-image {
    width: 4rem;
    height: 4rem;
    margin: 2.5rem 2.6rem 2.5rem 2.6rem;
  }
  .new-badge {
    top: 1rem;
    left: 70%;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
  .banner-content{
    padding-top: 1.5rem;
    margin: 1rem 0;
  }

}
