@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
}
body {
  background-color: rgba(37, 13, 68, 1);
}
.logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.logo-span {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Button style  */
.nav-btn, .listen-btn {
  color: white;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 625rem;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  white-space: nowrap;
}
.sub-btn{
    color: #00FF88;
    font-size: 1rem;
    padding: 0.8rem 1rem;
    border-radius: 625rem;
    background-color: none;
    border: solid 1px #00FF88;
}

/* Header Style  */
/* Navbar Style  */
.navbar {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.navbar .hamburger-icon {
  display: none;
}
/* Banner Section Style  */
.banner-section {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.banner-image {
  width: 100%;
  height: 50vh;
}
.banner-mic-container {
  position: absolute;
  max-width: 22rem;
  max-height: 22rem;
  border-radius: 50%;
  background-image: url("./assets/hero-circle.png");
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
}
.new-badge {
    position: absolute;
    top: 2.0rem;
    left: 79%;
    background-color: #00FF88;
    color: black;
    padding: 0.3rem 0.8rem;
    border-radius: 625rem;
    font-size: 0.8rem;
    font-weight: 600;
}
.banner-mic-image {
  width: 12.5rem;
  height: 12.5rem;
  margin: 4.5rem 4.6rem 4.5rem 4.6rem;
}
.banner-content{
    margin-top: 3rem;
}

/* Responsive Style  */
@media screen and (max-width: 576px) {
  .navbar ul,
  .nav-btn {
    display: none;
  }
  .navbar .hamburger-icon {
    display: block;
    cursor: pointer;
  }
}
