@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  background-color: #1a0b2e;
}
.logo {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}
.logo-span {
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Button style  */
.nav-btn,
.listen-btn {
  color: white;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 625rem;
  background: linear-gradient(
    47.64deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 50%,
    rgba(145, 0, 248, 1) 100%
  );
  white-space: nowrap;
}
.sub-btn {
  color: #00ff88;
  font-size: 1rem;
  padding: 0.8rem 1rem;
  border-radius: 625rem;
  background-color: none;
  border: solid 1px #00ff88;
}

/* Header Style  */
/* Navbar Style  */
.navbar {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.navbar ul {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
.navbar .hamburger-icon {
  display: none;
}
/* Banner Section Style  */
.banner-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 0 8rem 0;
  position: relative;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner-image {
  width: 100%;
  height: 50vh;
}
.banner-mic-container {
  position: absolute;
  max-width: 22rem;
  max-height: 22rem;
  border-radius: 50%;
  background-image: url("./assets/hero-circle.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
}
.new-badge {
  position: absolute;
  top: 2rem;
  left: 79%;
  background-color: #00ff88;
  color: black;
  padding: 0.3rem 0.8rem;
  border-radius: 625rem;
  font-size: 0.8rem;
  font-weight: 600;
}
.banner-mic-image {
  width: 12.5rem;
  height: 12.5rem;
  margin: 4.5rem 4.6rem 4.5rem 4.6rem;
}
.banner-content {
  text-align: center;
  padding-top: 3.5rem;
  margin: 2rem 0;
}
/* About podcast section style  */
.podcast-section {
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 4rem;
  margin: 3rem 12.5rem 5rem 12.5rem;
}
.podcast-heading {
  margin-bottom: 1rem;
}
.podcast-lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.podcast-card-heading {
  color: #00ff88;
  font-size: 3rem;
  font-weight: bold;
}

.podcast-card-para {
  text-transform: uppercase;
}
.podcast-section > hr {
  margin: 4rem 0;
}
/* Why choose section  */
.choose-section {
  background: rgba(35, 14, 61, 1);
}
.choose-section-container {
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 4rem;
  margin: 7.5rem 12.5rem 7.5rem 12.5rem;
  padding-top: 2rem;
}
.choose-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "quality friendly friendly"
    "quality community community"
    "interviews interviews resources";
  gap: 1rem;
}
.choose-card-container > div {
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16;
  padding: 0.7rem;
}
.choose-section-heading {
  margin-bottom: 2rem;
}
.choose-card-container > div h3,
.host-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.choose-card-container > div p,
.host-para {
  font-size: 1rem;
  line-height: 1.5rem;
  opacity: 0.8;
}
.choose-card-container > div img {
  width: 2.7rem;
  height: 2.7rem;
}
.quality {
  grid-area: quality;
}

.friendly {
  grid-area: friendly;
}

.community {
  grid-area: community;
}

.interviews {
  grid-area: interviews;
}

.resources {
  grid-area: resources;
}

/* Feature Episode Section */
.feature-section {
  color: white;
  max-width: 85%;
  margin: 0 auto;
  padding-bottom: 4rem;
  margin: 7.5rem 12.5rem 7.5rem 12.5rem;
  padding-top: 2rem;
}
.feature-card-container {
  display: flex;
  justify-content: space-between;
  gap: 1.8rem;
  margin-top: 2rem;
}
.feature-card {
  width: 24rem;
  background: rgba(37, 13, 68, 1);
  border-radius: 20px;
  padding: 0 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.feature-card iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
}
.feature-card-vid-content {
  padding: 1.5rem;
}
.feature-card-vid-content h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.feature-card-vid-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  opacity: 0.8;
  margin-bottom: 0.5rem;
}
.feature-card-vid-content .feature-clock {
  color: #00ff88;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
/* Meet the host section style */
.host-section {
  max-width: 85%;
  margin: 0 auto;
  background: rgba(37, 13, 68, 1);
  padding: 3.6rem;
  margin: 7.5rem 12.5rem 7.5rem 12.5rem;
  border-radius: 20px;
}
.host-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.host-social {
  padding: 1rem 1rem;
  display: flex;
  gap: 1rem;
}
.host-social img {
  width: 2.6rem;
  height: 2.6rem;
  border: 2px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Responsive Style  */
@media screen and (max-width: 576px) {
  /* Navbar style */
  .navbar ul,
  .nav-btn {
    display: none;
  }
  .navbar .hamburger-icon {
    display: block;
    cursor: pointer;
  }
  /* Banner section style  */

  .banner-section {
    background-size: 100% 100vh;
    background-position: top center;
  }
  .banner-mic-container {
    position: absolute;
    max-width: 12.5rem;
    max-height: 12.5rem;
    border-radius: 50%;
    top: 25%;
    left: 50%;
  }
  .banner-mic-image {
    width: 4rem;
    height: 4rem;
    margin: 2.5rem 2.6rem 2.5rem 2.6rem;
  }
  .new-badge {
    top: 1rem;
    left: 70%;
    padding: 0.2rem 0.5rem;
    font-size: 0.7rem;
  }
  .banner-content {
    padding-top: 1.5rem;
    margin: 1rem 0;
  }
  /* About podcast section style  */
  .podcast-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3.2rem 1.2rem;
  }
  .podcast-lower {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  .podcast-heading-para {
    text-align: center;
    font-size: 1rem;
  }

  .podcast-heading {
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
  }
  /* Why choose section  */
  .choose-section-container {
    margin: 3rem 1.2rem;
  }
  .choose-card-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "quality"
      "friendly"
      "community"
      "interviews"
      "resources";
  }
  /* Feature Episode and host Section */
  .feature-section, .host-section {
    margin: 3rem 1.2rem;
  }
  .feature-card-container,  .host-container {
    flex-direction: column;
    gap: 2rem;
  }
  /* Meet the host section style */
  .host-container {
    text-align: center;
  }
}
